#insert_items{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 0.5714rem;
}

.add_serials label{
    display: inline-block;
    //font-size:0.6667rem ;
    margin-right: 0.3rem;
    margin-top:0.2rem;
    color:#666;
}

.add_serials .small_img{
    position: relative;
    display: inline-block;
    width:5rem;
    height:7.2rem;
    float:left;
    margin: 0.3rem 0.3rem 0 0;
    border:0.0476rem solid #ccc;
}



/*.add_serials  a{*/
    /*display: inline-block;*/
    /*height:0.9rem;*/
    /*color:#00796b;*/
    /*margin:0.3rem auto 0 auto;*/
    /*text-decoration: underline;*/
/*}*/
/*.serialsUpdate{*/
    /*text-align: left;*/
/*}*/
.serials_update_accordion{
    width:20rem;
}
.serials_update_accordion form, #update_name{
    box-sizing: border-box;
    width:100%;
    font-size: 0.6667rem;
    display: inline-block;
    border:none;
    text-align: left;
}
/*#add_participant{ height:6rem; background: red}*/
/*#add_classification{ height:3rem; background: blue }*/
/*#add_episode_time{ height:8rem; }*/
/*#add_index{ height:8rem; }*/
/*#add_synopsis{ height:8rem; }*/
